django==1.11
jinja2
django-picklefield
django-import-export
numpy>=1.9.0
pandas>=0.23.0
networkx>=2.1
scipy
openpyxl
xlrd
matplotlib==2.2.3
matplotlib-venn
bioservices
pathos
appdirs
plotly==2.7
seaborn
py2cytoscape
pydotplus
IPython>=5.3.0
jupyter==1.0.0
wordcloud
sortedcontainers
statsmodels