{% extends "project_details.html" %}
{% block title %}Enrichment{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-6">
            <h1>Enrichment of single list</h1>
            <p>
                Please provide a list of comma separates genes for enrichment analysis and
                select which subset of databases to include.
            </p>
            <form class="form-group" method="GET">
                {{ form.as_p()|safe }}
                <input type="submit" value="Submit"/>
            </form>

        </div>
    </div>
{% endblock %}