{% extends "project_details.html" %}
{% block title %}Generate Subgraph{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-6">
            <h1>Subnetwork generator</h1>
            <p>Please provide a list of comma separates genes/metabolites in
                HGNC/HMDB format. They can be any species in the network. The function finds
                connections between each species provided, including any species that complete a path between.
            </p>
            <form class="form-group" method="GET">
                <div class="fieldWrapper form-group">
                    <label for="{{ form.list_of_species.id_for_label }}">List of species:</label>
                    <br>
                    {{ form.list_of_species }}
                </div>
                <input type="submit" value="Submit"/>
            </form>

        </div>
    </div>
{% endblock %}