{% extends 'base.html' %}
{% block content %}
    <div class="col-sm-7">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of nodes</th>
                    <th>Number of edges</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>KEGG</td>
                    <td>11254</td>
                    <td>63473</td>
                </tr>
                <tr>
                    <td>Reactome Functional Interactions</td>
                    <td>9146</td>
                    <td>149561</td>
                </tr>
                <tr>
                    <td>HMBD</td>
                    <td>85052</td>
                    <td>849085</td>
                </tr>
                <tr>
                    <td>BioGrid</td>
                    <td>9128</td>
                    <td>11896</td>
                </tr>
                <tr>
                    <td>Total</td>
                    <td>97976</td>
                    <td>1045902</td>
                </tr>
                </tbody>
            </table>
            </div>
{% endblock %}