{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid">
        <h1> Project name : {{ data.project_name }}</h1>
        <h3>  <a href="{{url('filter')}}"
                                   target="_blank">View enrichment output</a> </h3>
{#        <ul>#}
{#            {% for i in data.get_time_points() %}#}
{#                <li> {{ i }}</li>#}
{#            {% endfor %}#}
{#        </ul>#}
{#        <ul>#}
{#            {% for i in data.get_modalities() %}#}
{#                <li> {{ i }}</li>#}
{#            {% endfor %}#}
{#        </ul>#}
        <div class="container-fluid">
            <ul class="nav nav-tabs" id="product-table">
                <li><a href="#1" data-toggle="tab">All measured</a></li>
                <li><a href="#2" data-toggle="tab">Unique measured</a></li>
                <li><a href="#3" data-toggle="tab">Significantly changed</a></li>
                <li><a href="#4" data-toggle="tab">Significantly changed unique</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane" id="1">
                    {% autoescape off %}
                    {{ all_measured }}
                    {% endautoescape %}
                </div>
                <div class="tab-pane" id="2">
                    {% autoescape off %}
                    {{ uni_measured }}
                    {% endautoescape %}
                </div>
                <div class="tab-pane" id="3">
                    {% autoescape off %}
                    {{ sig_measured }}
                    {% endautoescape %}
                </div>
                <div class="tab-pane" id="4">
                    {% autoescape off %}
                    {{ sig_uni }}
                    {% endautoescape %}
                </div>
                <script>
                    $(document).ready(function () {
                        $('table').DataTable({
                            bFilter: false,
                            paging: false
                        });
                    });
                </script>
            </div>
        </div>
    </div>
{% endblock %}