{% extends "base.html" %}
{% block head %}
    <head>
        <meta charset=utf-8/>
        <title>Subgraphs</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.1.4/cytoscape.js"></script>
        <script src="https://cdn.rawgit.com/cpettitt/dagre/v0.7.4/dist/dagre.min.js"></script>
        <script src="https://cdn.rawgit.com/cytoscape/cytoscape.js-dagre/1.5.0/cytoscape-dagre.js"></script>
        <script src="https://cdn.rawgit.com/cytoscape/cytoscape.js-cose-bilkent/1.6.5/cytoscape-cose-bilkent.js"></script>

    </head>


    <style>
        body {
            font: 14px helvetica neue, helvetica, arial, sans-serif;
        }

        #cy {
            width: 100%;
            height: 500px;
            display: block;
        }

        input[type='button'] {
            width: 100%;
        }
    </style>
{% endblock %}
{% block content %}
<body>

<div class="row">
    <div class="container-fluid">

        <div class="dropdown nav navbar-nav">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Layout options<span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li> <input type='button' id='HieButton' value='Hierarchical layout'> </li>
                <li> <input type='button' id='DagreButton' value='Default layout'> </li>
                <li> <input type='button' id='FlatButton' value='Compact layout (random)'> </li>
            </ul>
        </div>
        <div class="dropdown nav navbar-nav">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Color options<span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li> <input type='button' id='metabolites' value='Highlight metabolites'> </li>
                <li> <input type='button' id='genes' value='Highlight genes/proteins'> </li>
            </ul>
        </div>
    </div>
    <div id="tools" class="panel panel-primary">
            <div class="panel-heading">Tools</div>
            <div class="panel-body">
                <button id="fit" class="btn btn-success">Fit</button>
                <button id="layout" class="btn btn-success">Layout</button>
                <button id="filter" class="btn btn-success">Filter edge</button>
            </div>
    </div>
    <row>
        <div class="col-md-12 col-sm-12 col-lg-12">

            <!-- graph : start -->
            <div class="panel panel-primary">
                <div class="panel-heading">Graph</div>
                <div class="panel-body">
                    <div id="cy-container">
                        <div id="cy"></div>
                    </div>

                </div>
            </div>
        </div>

    </row>
</div>

<script>

    var cy = cytoscape({
        container: document.getElementById('cy'),

        {% autoescape off %}
        elements: {
            nodes:{{nodes}},
            edges:{{edges}}
        },
        {% endautoescape %}
        style: [
            {
                selector: 'node',
                css: {
                    'content': 'data(id)',
                    'text-valign': 'center',
                    'text-halign': 'center'
                }
            },
            {
                selector: 'node[speciesType = \'compound\']',
                css: {
                    'content': 'data(chemName)',
                    'text-valign': 'center',
                    'text-halign': 'center',
                    'shape': 'rectangle'
                }
            },
            {
                selector: 'node[speciesType = \'gene\']',
                css: {
                    'content': 'data(id)',
                    'text-valign': 'center',
                    'text-halign': 'center',
                    'shape': 'rectangle'
                }
            },
            {
                selector: '$node > node',
                css: {
                    'padding-top': '10px',
                    'padding-left': '10px',
                    'padding-bottom': '10px',
                    'padding-right': '10px',
                    'text-valign': 'top',
                    'text-halign': 'center',
                    'background-color': 'green'
                }
            },
            {
                selector: 'edge',
                css: {
                    'curve-style': 'bezier',
                    'target-arrow-shape': 'triangle',

                }
            },
            {
                selector: 'edge:selected',
                css: {
                    'background-color': 'yellow',
                    'line-color': 'red',
                    'label': 'data(interactionType)',
                    'target-arrow-color': 'black',
                    'source-arrow-color': 'black'
                }
            }
        ]
    });

    cy.layout({
            name: 'dagre',
            avoidOverlap: true
        }
    ).run();
    cy.resize();
    cy.fit();

    var HieButton = document.getElementById('HieButton');
    HieButton.addEventListener('click', function () {
        cy.layout({name: 'breadthfirst', avoidOverlap: true}).run();

    });
    var DagreButton = document.getElementById('DagreButton');
    DagreButton.addEventListener('click', function () {
        cy.layout({name: 'dagre', avoidOverlap: true}).run();

    });
    var FlatButton = document.getElementById('FlatButton');
    FlatButton.addEventListener('click', function () {
        cy.layout(
            {
                name: 'cose-bilkent',
                avoidOverlapPadding: 100,
                animate: false,
                avoidOverlap: true
            }
        ).run();

    });
    var filterEdge = document.getElementById('filter');
    filterEdge.addEventListener('click', function () {
        cy.edges().selector('edge[interactionType = \'expression\']').remove();
    });

    $("#fit").click(function() {
        console.log('cy=', cy);
        cy.fit();
    });

    $("#layout").click(function() {
        console.log('cy=', cy);
        cy.layout({
            name: 'dagre'
        });
    });

    var MetaboliteColor = document.getElementById('metabolites');
    MetaboliteColor.addEventListener('click', function (){
        cy.style()
{#         .resetToDefault() // start a fresh default stylesheet#}
        // and then define new styles
        .selector('node[speciesType = \'compound\']')
              .style('background-color', 'red')

        // ...

        .update() // update the elements in the graph with the new style
        ;
    });



    cy.$(':selected').remove();
    var GenesColor = document.getElementById('genes');
    GenesColor.addEventListener('click', function (){
        cy.style()
{#                $(this).toggleClass("clicked");#}
{#         .resetToDefault() // start a fresh default stylesheet#}
        // and then define new styles
        .selector('node[speciesType = \'gene\']')
              .style('background-color', 'red')

        // ...

        .update() // update the elements in the graph with the new style
        ;
    });
</script>
</body>
{% endblock %}