<table class="table table-condensed table-bordered table-striped volumes">
    <thead>
    <tr>
        <td><b>Experimental method</b></td>
        {% for t in time %}

            <td><b>{{ t }}</b></td>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for item, new_list in all_measured.items() %}
        <tr>
            <th>{{ item }}</th>
            {% for t in time %}
                <td> {{ new_list[t] }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>