{% extends "base.html" %}
{% block title %} Welcome to MAGINE{% endblock %}
{% block content %}

    <div class="container">
        <div class="page-header">
            <h1>Projects home</h1>
        </div>
        <div class="container-fluid">
            <div class="row content">
                <div class="col-sm-3 sidenav">
                <ul class="list-group">
                            <a href="{{ url('add_new_project') }}" class="top-menu"><span
                                    class="glyphicon glyphicon-plus"></span> Add Project</a>

                            {% for project in projects %}

                            <li class="list-group-item"> <a href="post/{{ project.project_name }}"
                                   target="_blank">{{ project.project_name }}</a> </li>

                            {% endfor %}
                </ul>

                </div>
                </div>

        </div>
    </div>
{% endblock %}